  
version: 2
jobs:
   build:
     docker:
       - image: circleci/openjdk:8-jdk-stretch-browsers-legacy
     steps:
       - checkout
       - run: wget https://download.checkmarx.com/8.9.0/Plugins/CxConsolePlugin-8.90.0.zip
       - run: unzip CxConsolePlugin-8.90.0.zip
       - run: chmod +x runCxConsole.sh
       - run: ./runCxConsole.sh Scan 
          -CxServer https://www-checkmarx.app.ford.com
          -CxUser admin 
          -CxPassword CxSAST10072019! 
          -ProjectName 'CxServer\Ford\IT\Hannah\webgoat-java' 
          -LocationType folder 
          -LocationPath ~/project 
          -Comment 'Launched from Circle Ci' 
          -verbose
        
